*.class
*.log
*.jar
*.war
*.DS_Store
*.pyc
**/pkg/*
**/mq-golang/*
**/Go/src/*
!**/Go/src/*.go
**/node_modules/*
.idea
amqp-vertx/target/*
amqp-qpid/qpid-quarkus/target/classes/application.properties
amqp-qpid/qpid-standard/target/classes/jndi.properties
Spring-JMS/target/classes/application.properties
